data
untracked_files
.cursor
Kelompok 4_UAS Graf Sains Data/laporan.pdf
Kelompok 4_UAS Graf Sains Data/main_notebook.ipynb
Kelompok 4_UAS Graf Sains Data.zip
Kelompok 4_UAS Graf Sains Data/PPTGSD.pdf
